In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/vihaan/Desktop/Ironhack/Unit1/Day3/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv')

In [3]:
df2 = pd.read_csv('/Users/vihaan/Desktop/Ironhack/Unit1/Day3/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv')

In [4]:
df3 = pd.read_csv('/Users/vihaan/Desktop/Ironhack/Unit1/Day3/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv')

In [5]:
df1.shape

(4008, 11)

In [6]:
df2.shape

(996, 11)

In [7]:
df3.shape

(7070, 11)

In [8]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [9]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [10]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [11]:
len(df1.columns)

11

In [12]:
len(df2.columns)

11

In [13]:
len(df3.columns)

11

In [14]:
df1 = df1.rename(columns = {"ST" : "State",
                     "GENDER" : "Gender"})

In [15]:
df2 = df2.rename(columns = {"ST" : "State",
                     "GENDER" : "Gender"})

In [16]:
df1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [17]:
df2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [18]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [19]:
df1 = df1[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
df1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [20]:
df2 = df2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
df2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [21]:
df3 = df3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
df3.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [22]:
python = pd.concat([df1, df2, df3])
python

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [23]:
python.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [24]:
python.columns = [column.lower().replace(' ', '_') for column in python.columns]

In [25]:
python.select_dtypes("number").columns

Index(['income', 'monthly_premium_auto', 'total_claim_amount'], dtype='object')

In [26]:
python_categorical = python.select_dtypes("object").columns
python_categorical

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'number_of_open_complaints', 'policy_type', 'vehicle_class'],
      dtype='object')

In [27]:
python_numerical = python.select_dtypes("number").columns
python_numerical

Index(['income', 'monthly_premium_auto', 'total_claim_amount'], dtype='object')

In [28]:
python.isna().sum()

customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [29]:
python.drop(['education', 'number_of_open_complaints'], axis = 1)

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.98798,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,3096.511217,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,8163.890428,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,7524.442436,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,2611.836866,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [30]:
python = python.dropna(subset=['customer_lifetime_value'])
python

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [31]:
python.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [32]:
def my_function(string):
    return float(str(string).replace("%",""))*100

In [33]:
python['customer_lifetime_value'] = python['customer_lifetime_value'].apply(my_function)

/var/folders/13/9ymrqm694sz5_g2ct_qmw0gm0000gn/T/ipykernel_364/1927081889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  python['customer_lifetime_value'] = python['customer_lifetime_value'].apply(my_function)

In [34]:
python

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,6.979536e+07,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+08,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+07,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363076e+07,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8.256298e+07,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+06,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+05,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+05,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+05,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+05,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [35]:
python1 = python[python['income'] >= 0.4]
python1

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
2,AI49188,Nevada,F,Bachelor,1.288743e+08,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,5.363076e+07,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8.256298e+07,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,5.380899e+07,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,Bachelor,2.412750e+08,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,College,5.032165e+05,66367.0,64.0,0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,College,4.100399e+05,47761.0,104.0,0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,Bachelor,2.340599e+06,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+05,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,College,7.524442e+05,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000

In [36]:
python1.drop_duplicates()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
2,AI49188,Nevada,F,Bachelor,1.288743e+08,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,5.363076e+07,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,8.256298e+07,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,5.380899e+07,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
8,DY87989,Oregon,M,Bachelor,2.412750e+08,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...,...,...
7063,TF56202,California,M,College,5.032165e+05,66367.0,64.0,0,Personal Auto,Two-Door Car,307.200000
7064,YM19146,California,F,College,4.100399e+05,47761.0,104.0,0,Personal Auto,Four-Door Car,541.282007
7065,LA72316,California,M,Bachelor,2.340599e+06,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+05,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7068,UP19263,California,M,College,7.524442e+05,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000